{% extends 'base.html.twig' %}

{% block title %}New Book2{% endblock %}

{% block body %}
    <h1>Create new Book2</h1>

    {{ include('book2/_form.html.twig') }}

    <a href="{{ path('app_book2_index') }}">back to list</a>
{% endblock %}
